{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Book Services{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'bookit/styles.css' %}" rel="stylesheet">
        <script src="{% static 'bookit/front.js' %}"></script>
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
                <a class="navbar-brand" href="{% url 'index' %}">BookIT</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <span class="navbar-text">{{user.username}}</span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'booked' %}">My Bookings</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'register' %}">Register</a>
                            </li>
                        {% endif %}

                        {% if user.is_authenticated %}
                            {% if user.if_professional %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'professional' user.username %}">Professional Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'add_service' %}">Add Service</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'upgrade' %}">Upgrade to Professional</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
            </nav>

            {% if messages %}
                <div id="message-container" class="mb-4">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>