{% extends "auctions/layout.html" %}

{% block body %}

    <h2 class="text-center my-4">Categories:</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-2">
                <a href="categories/Fashion" class="btn btn-outline-primary btn-block py-3">Fashion</a>
            </div>
            <div class="col-md-12 mb-2">
                <a href="categories/Toys" class="btn btn-outline-primary btn-block py-3">Toys</a>
            </div>
            <div class="col-md-12 mb-2">
                <a href="categories/Electronics" class="btn btn-outline-primary btn-block py-3">Electronics</a>
            </div>
            <div class="col-md-12 mb-2">
                <a href="categories/Home" class="btn btn-outline-primary btn-block py-3">Home</a>
            </div>
            <div class="col-md-12 mb-2">
                <a href="categories/Sports" class="btn btn-outline-primary btn-block py-3">Sports</a>
            </div>
        </div>
    </div>
      
{% endblock %}

